<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.example.hiringagency.DAO.CTMapper">

    <insert id="CTRegister" parameterType="com.example.hiringagency.domain.entity.CareTakerRegistration">
        insert into CareTakerRegistration(`firstName`, `lastName`,`postalAddress`, `phoneNumber`, `email`,`active`)
        values (#{firstName}, #{lastName}, #{postalAddress}, #{phoneNumber}, #{email}, 1)
    </insert>

    <select id="selectAllCTs" resultType="com.example.hiringagency.domain.entity.CareTakerRegistration">
        select *
        from CareTakerRegistration
        where active = 1
    </select>

    <insert id="addRequest" parameterType="com.example.hiringagency.domain.entity.CareRequests">
        insert into CareRequests(FirstName, LastName, Gender, DateOfBirth, ServiceAddress, PatientPhone, PatientEmail, WeekDay, StartTime, EndTime, TotalDays, GenderSpecific, LowerAgeLimit, UpperAgeLimit, FlexibleHoursFlag, FlexibleHoursPerDay, CareTakerID, ServiceType)
        values (#{firstName}, #{lastName}, #{gender}, #{dateOfBirth}, #{serviceAddress}, #{patientPhone}, #{patientEmail},
                                 #{weekDay}, #{startTime}, #{endTime}, #{totalDays}, #{genderSpecific}, #{lowerAgeLimit},
                                 #{upperAgeLimit}, #{flexibleHoursFlag}, #{flexibleHoursPerDay}, #{careTakerId}, #{serviceType})
    </insert>

    <select id="selectRequests" resultType="com.example.hiringagency.domain.entity.CareRequests">
        select *
        from CareRequests
        where careTakerId = #{careTakerId}
    </select>

    <select id="selectRequestsById" resultType="com.example.hiringagency.domain.entity.CareRequests">
        select *
        from CareRequests
        where careRequestId = #{careRequestId}
    </select>

    <select id="selectServiceEntries" resultType="com.example.hiringagency.domain.entity.ServiceEntries">
        select *
        from ServiceEntries
        where careRequestId = #{careRequestId}
    </select>

    <insert id="addEntries" parameterType="com.example.hiringagency.domain.entity.ServiceEntries">
        insert into ServiceEntries(Date, StartTime, EndTime, careRequestId)
        values (#{date}, #{startTime}, #{endTime}, #{careRequestId})
    </insert>

    <select id="selectBilling" resultType="com.example.hiringagency.domain.entity.Billing">
        select *
        from Billing
        where careTakerId = #{careTakerId}
    </select>

    <update id="pay" parameterType="com.example.hiringagency.domain.entity.Billing">
        update Billing
        set paidAmount = paidAmount + #{amount}
        where billingId = #{billingId}
    </update>
</mapper>