<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.example.hiringagency.DAO.HPMapper">
    <insert id="setHP" parameterType="com.example.hiringagency.domain.entity.HealthcareJobApplication">
        insert into HealthcareJobApplication(`firstName`, `lastName`,`gender`, `dateOfBirth`, `ssn`,`serviceType`, `degree`, `educationQualifications`, `yearsExperience`,`postalAddress`, `phoneNumber`, `email`,`active`, `jobAdvertisementId`)
        values (#{firstName}, #{lastName}, #{gender}, #{dateOfBirth}, #{ssn}, #{serviceType}, #{degree}, #{educationQualifications}, #{yearsExperience}, #{postalAddress}, #{phoneNumber}, #{email}, 1, #{jobAdvertisementId})
    </insert>

    <!-- HP applicants -->
    <select id="selectAllHPs" resultType="com.example.hiringagency.domain.entity.HealthcareJobApplication">
        select *
        from HealthcareJobApplication hja left join JobAdvertisements ja on hja.jobAdvertisementId = ja.jobAdvertisementId
        where hja.active = 1
    </select>

    <select id="selectHPByJobId" resultType="com.example.hiringagency.domain.entity.HealthcareJobApplication">
        select *
        from HealthcareJobApplication hja left join JobAdvertisements ja on hja.jobAdvertisementId = ja.jobAdvertisementId
        where hja.active = 1 and hja.jobAdvertisementId = #{jobAdvertisementId}
    </select>

    <select id="selectAllSsn" resultType="com.example.hiringagency.domain.entity.HealthcareJobApplication">
        select *
        from HealthcareJobApplication
    </select>

    <select id="selectEntries" resultType="com.example.hiringagency.domain.model.ScheduleDetails">
        select cr.FirstName, cr.LastName, cr.Gender, cr.DateOfBirth, cr.ServiceAddress, cr.PatientPhone, cr.PatientEmail, se.ServiceEntryID, se.Date, se.Status, se.StartTime, se.EndTime, se.CareRequestID
        from ServiceEntries se left join CareRequests cr on cr.careRequestId = se.careRequestId
        where se.hpId = #{userId}
    </select>

    <update id="updateHour" parameterType="com.example.hiringagency.domain.entity.ServiceEntries">
        update ServiceEntries
        set startTime = #{startTime}, endTime = #{endTime}, Status = 2, completedFlag = 1
        where serviceEntryId = #{serviceEntryId}
    </update>

    <select id="selectRequestByEntry" resultType="com.example.hiringagency.domain.entity.ServiceEntries">
        select *
        from ServiceEntries
        where serviceEntryId = #{serviceEntryId}
    </select>

    <select id="selectBillingByRequest" resultType="com.example.hiringagency.domain.entity.Billing">
        select *
        from Billing
        where careRequestId = #{careRequestId}
    </select>

    <update id="updateCost" parameterType="com.example.hiringagency.domain.entity.Billing">
        update Billing
        set amountYetToPay = #{sum}
        where billingId = #{billingId}
    </update>

    <select id="selectCostById" resultType="java.lang.Double">
        select amountYetToPay
        from Billing
        where billingId = #{billingId}
    </select>

    <select id="selectHPById" resultType="com.example.hiringagency.domain.entity.Users">
        select *
        from Users
        where userId = #{userId}
    </select>

    <select id="selectHPAccountById" resultType="com.example.hiringagency.domain.model.HPAccountInfo">
        select hpa.hpAccountId, hpa.hpId, u.firstName, u.lastName, hpa.amountPaid, hpa.amountYetToPay
        from HPAccount hpa left join Users u on hpa.hpId = u.userId
        where hpa.hpId = #{userId}
    </select>

    <update id="updateSalary" parameterType="com.example.hiringagency.domain.entity.HPAccount">
        update HPAccount
        set amountYetToPay = #{salary}
        where hpId = #{userId}
    </update>

    <select id="selectHPPaymentById" resultType="com.example.hiringagency.domain.entity.HPPayment">
        select *
        from HPPayment
        where hpId = #{hpId}
    </select>

    <update id="terminate" parameterType="com.example.hiringagency.domain.entity.CareRequests">
        update CareRequests
        set status = 2
        where careRequestId = #{careRequestId}
    </update>

    <select id="selectServiceEntries" resultType="com.example.hiringagency.domain.entity.ServiceEntries">
        select *
        from ServiceEntries
        where careRequestId = #{careRequestId}
    </select>
</mapper>